
@{
    ViewData["Title"] = "Signin";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/account/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/account/css/style.css">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="~/account/images/signup-img.jpg" alt="">
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form">
                        <div asp-validation-summary="All"></div>

                        <div class="form">
                            <div class="form-group">
                                <label>Email:</label>
                                <input name="email" type="text" placeholder="email " /><br />
                            </div>
                            <div class="form-group">

                                <label>Pasword:</label>
                                <input name="password" type="text" placeholder="password" /><br />
                            </div>
                        </div>
                        <div class="form-submit">
                            <button class="submit" type="submit">Sign In</button>
                        </div>
                        <div class="form-submit">
                            <button class="submit" asp-controller="account" asp-action="register">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="~/account/vendor/jquery/jquery.min.js"></script>
    <script src="~/account/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

