@model Domain.Entities.Membership.ResumeRole
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>

<div class="container">
    <form method="post" style="margin-top:100px" >
        <div class="form-group">
            <label for="exampleTitle">Name</label>
            <input type="text" class="form-control" id="exampleTitle" aria-describedby="TitleHelp" placeholder="Enter Name" asp-for="Name">
            <span asp-validation-for="Name" class="text text-danger"></span>

        </div>
        <a class="btn btn-success" asp-action="index">Back</a>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>