@model IEnumerable<Services.PortfolioPosts.PortfolioPostGetAllDto>
@{
    ViewData["Title"] = "Index";
}

<div class="inside-sec">
    <!-- BIO AND SKILLS -->
    <h5 class="tittle">PORTFOLIO</h5>

    <!-- PORTFOLIO -->
    <section class="portfolio padding-top-50 padding-bottom-50">


        <!-- PORTFOLIO ITEMS -->
        <div id="Container" class="item-space row col-3">
            @foreach(var item in Model)
            {
                <article class="portfolio-item mix  design photo visual">
                    <div class="portfolio-image">
                        <a href="#."> <img class="img-responsive" alt="Open Imagination" src="~/uploads/@item.ImagePath"> </a>
                        <div class="portfolio-overlay style-4">
                            <div class="detail-info">
                                <div class="position-center-center">
                                    <h3 class="no-margin">@item.Title</h3>
                                    <span><a href="#.">@item.Desc</a></span> <a href="#." class="go"><i class="fa fa-search"></i></a> <a href="#." class="go"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            }
        </div>
    </section>
</div>