@model Services.BlogPosts.EditBlogPostDto
@{
    ViewData["Title"] = "Details";
}

<div class="inside-sec blog">
    <!-- BIO AND SKILLS -->
    <h5 class="tittle">BLOG POST</h5>

    <!-- Blog -->
    <article class="blog-post width-100 padding-25">
        <div class="post-img">
            <img src="~/uploads/@Model.ImagePath" alt="">
            <span class="date-in">27 JAN</span>
        </div>

        <!-- BLOG DETAIL -->
        <h4 class="font-normal">@Model.Title</h4>
        <span class="post-bt">by <span class="text-color-primary">Admin</span></span>
        <ul class="post-info">
            <li> <i class="fa fa-comments-o"></i>97 </li>
            <li> <i class="fa fa-eye"></i>565 </li>
            <li> <i class="fa fa-bookmark-o"></i>Photography </li>
            <li>  </li>
        </ul>
        <p>
            @Model.Body
        </p>
       





       


    </article>
</div>

