
<!DOCTYPE html>
<html class="no-js" lang="en">
  <!-- Mirrored from new.uouapps.com/remoticv/index-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 19 May 2019 06:20:30 GMT -->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="M_Adnan" />
    <!-- Document Title -->
    <title>@ViewBag.Title - Resume / CV HTML5 </title>

    <!-- StyleSheets -->
    <link rel="stylesheet" href="~/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet"/>

    <!-- FontsOnline -->
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <!-- JavaScripts -->

  </head>
  <body>
    <!-- Page Wrapper -->
    <div id="wrap">
      <!-- Header -->
      <nav id="cd-lateral-nav">
        <h5 class="tittle">MotiCv</h5>
        <ul class="cd-navigation">
          <li><a href="~/index.html">Index Main</a></li>
          <li><a href="~/index-1.html">Index 2</a></li>
          <li><a href="~/index-2.html">Index 3</a></li>
          <li><a href="~/index-3-pages.html">Index Links</a></li>
          <li><a href="~/about-me.html">About Me</a></li>
          <li><a href="~/portfolio.html">Portfolio</a></li>
          <li><a href="~/blog.html">Blog</a></li>
          <li class="item-has-children">
            <a href="~/index.html">Pages</a>
            <ul class="sub-menu">
              <li><a href="~/blog-single.html">Blog Details</a></li>
              <li><a href="~/resume(edit-mode).html">Resume (edit mode)</a></li>
              <li>
                <a href="~/resume(edit-professional-experience).html"
                  >Resume (edit professional experience)</a>
                
              </li>
            </ul>
          </li>
        </ul>
        <h5 class="tittle">Latest Post</h5>
        <ul class="latest-post">
          <!-- Post Small -->
          <li>
            <div class="media">
              <div class="media-left">
                <a href="~/#."><img src="~/images/small-img.jpg" alt="" /></a>
              </div>
              <div class="media-body">
                <a href="~/#.">Hello Itaewon Project</a>
                <p class="font-crimson font-italic">Webdesign</p>
              </div>
            </div>
          </li>
          <!-- Post Small -->
          <li>
            <div class="media">
              <div class="media-left">
                <a href="~/#."><img src="~/images/small-img-1.jpg" alt="" /></a>
              </div>
              <div class="media-body">
                <a href="~/#.">Casual in grey</a>
                <p class="font-crimson font-italic">Webdesign</p>
              </div>
            </div>
          </li>
          <!-- Post Small -->
          <li>
            <div class="media">
              <div class="media-left">
                <a href="~/#."><img src="~/images/small-img-2.jpg" alt="" /></a>
              </div>
              <div class="media-body">
                <a href="~/#.">Transittions</a>
                <p class="font-crimson font-italic">Webdesign</p>
              </div>
            </div>
          </li>
        </ul>
      </nav>
        
      <partial name="_Navbar"/>
      <!-- End Header -->

      <!-- Content -->
      <main class="cd-main-content">
        <div id="content" class="bg">
          <div class="resume">
            <div class="container">
              <!-- TOP HEAD -->
              <div class="top-head">
                <div class="row">
                  <div class="col-sm-6">
                    <h4>Resume</h4>
                    <a href="~/resume(edit-mode).html">Edit Resume</a>
                  </div>
                  <div class="col-sm-6">
                    <a id="cd-menu-trigger" href="~/#0"
                      ><span class="cd-menu-icon"></span
                    ></a>
                  </div>
                </div>
              </div>

              <!-- Resume -->
              <div class="row">
                <!-- Sidebar -->
                <div class="col-md-4">
                  <div class="side-bar">
                    <!-- Professional Details -->
                    <h5 class="tittle">Professional Details</h5>
                    <img
                      src="~/images/avatar.jpg"
                      class="img-responsive"
                      alt=""
                    />
                    <ul class="personal-info">
                      <li>
                        <p><span> Name</span> John Doe</p>
                      </li>
                      <li>
                        <p><span> Age</span> 38 Years</p>
                      </li>
                      <li>
                        <p><span> Location</span> Rome, Italy</p>
                      </li>
                      <li>
                        <p><span> Experience</span> 15 Years</p>
                      </li>
                      <li>
                        <p><span> Degree</span> MBA</p>
                      </li>
                      <li>
                        <p><span> Career Level</span> Mid-Level</p>
                      </li>
                      <li>
                        <p><span> Phone</span> (800) 123-4567</p>
                      </li>
                      <li>
                        <p><span> FAX</span> (800) 123-4568</p>
                      </li>
                      <li>
                        <p>
                          <span> E-mail</span>
                          <a href="~/#."> example@example.com</a>
                        </p>
                      </li>
                      <li>
                        <p>
                          <span> Website</span><a href="~/#."> example.com </a>
                        </p>
                      </li>
                    </ul>

                    <!-- Attachments -->
                    <h5 class="tittle">Attachments</h5>
                    <div class="attach bor-btm padding-25">
                      <ul>
                        <li>
                          <p>
                            <img src="~/images/pdf-icon.jpg" alt="" />
                            Curriculum-Vitae.pdf
                            <a href="~/#."
                              ><i class="fa fa-cloud-download"></i
                            ></a>
                            <a href="~/#."><i class="fa fa-eye"></i></a>
                          </p>
                        </li>
                        <li>
                          <p>
                            <img src="~/images/word-icon.jpg" alt="" /> COE.docx
                            <a href="~/#."
                              ><i class="fa fa-cloud-download"></i
                            ></a>
                            <a href="~/#."><i class="fa fa-eye"></i></a>
                          </p>
                        </li>
                      </ul>
                    </div>

                    <!-- Social Profiles -->
                    <h5 class="tittle">Social Profiles</h5>
                    <div class="social-icon bor-btm padding-25">
                      <ul>
                        <li>
                          <a href="~/#."> <i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                          <a href="~/#."> <i class="fa fa-google"></i></a>
                        </li>
                        <li>
                          <a href="~/#."> <i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                          <a href="~/#."> <i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                          <a href="~/#."> <i class="fa fa-skype"></i></a>
                        </li>
                      </ul>
                    </div>

                    <!-- Contact Me -->
                    <h5 class="tittle">Contact Me</h5>
                    <div class="contact padding-25">
                      <!-- Success Msg -->
                      <div id="contact_message" class="success-msg">
                        <i class="fa fa-paper-plane-o"></i>Thank You. Your
                        Message has been Submitted
                      </div>

                      <!-- FORM -->
                      <form
                        role="form"
                        id="contact_form"
                        class="contact-form"
                        method="post"
                        onSubmit="return false"
                      >
                        <ul class="row">
                          <li class="col-sm-12">
                            <label>
                              <input
                                type="text"
                                class="form-control"
                                name="email"
                                id="email"
                                placeholder="Email"
                              />
                            </label>
                          </li>
                          <li class="col-sm-12">
                            <label>
                              <input
                                type="text"
                                class="form-control"
                                name="company"
                                id="company"
                                placeholder="Subject"
                              />
                            </label>
                          </li>
                          <li class="col-sm-12">
                            <label>
                              <textarea
                                class="form-control"
                                name="message"
                                id="message"
                                rows="5"
                                placeholder="Message"
                              ></textarea>
                            </label>
                          </li>
                          <li class="col-sm-12">
                            <button
                              type="submit"
                              value="submit"
                              id="btn_submit"
                              onClick="proceed();"
                            >
                              Send Message
                            </button>
                          </li>
                        </ul>
                      </form>
                    </div>
                  </div>
                </div>

                <!-- MAIN CONTENT -->
                <div class="col-md-8">
                    @RenderBody()
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- End Content -->

      <!-- Footer -->
      <footer class="footer">
        <div class="rights">
          <p>© Copyright 2016 MotiCV. All right reserved.</p>
        </div>
      </footer>
      <!-- End Footer -->
    </div>
    <!-- End Page Wrapper -->

    <!-- JavaScripts -->
    <script src="~/js/vendors/jquery/jquery.min.js"></script>
    <script src="~/js/vendors/bootstrap.min.js"></script>
    <script src="~/js/vendors/owl.carousel.min.js"></script>
    <script src="~/js/vendors/jquery.isotope.min.js"></script>
    <script src="~/js/main.js"></script>

    <!-- Begin Map Script-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="~/js/vendors/map.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js" type="text/javascript"></script>
    <script src="~/js/overrides/toastr.override.js" type="text/javascript"></script>
    <script src="~/js/vendors/modernizr.js"></script>
    @await RenderSectionAsync("addjs",required:false)
  </body>

  <!-- Mirrored from new.uouapps.com/remoticv/index-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 19 May 2019 06:20:30 GMT -->
</html>
