<div class="side-bar">
    <!-- Professional Details -->
    <h5 class="tittle">Professional Details</h5>
    <img src="~/images/avatar.jpg"
         class="img-responsive"
         alt="" />
    <ul class="personal-info">
        <li>
            <p><span> Name</span> John Doe</p>
        </li>
        <li>
            <p><span> Age</span> 38 Years</p>
        </li>
        <li>
            <p><span> Location</span> Rome, Italy</p>
        </li>
        <li>
            <p><span> Experience</span> 15 Years</p>
        </li>
        <li>
            <p><span> Degree</span> MBA</p>
        </li>
        <li>
            <p><span> Career Level</span> Mid-Level</p>
        </li>
        <li>
            <p><span> Phone</span> (800) 123-4567</p>
        </li>
        <li>
            <p><span> FAX</span> (800) 123-4568</p>
        </li>
        <li>
            <p>
                <span> E-mail</span>
                <a href="~/#."> example@example.com</a>
            </p>
        </li>
        <li>
            <p>
                <span> Website</span><a href="~/#."> example.com </a>
            </p>
        </li>
    </ul>
</div>